@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,600,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 3rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #eee;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.downloadBtn {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  position: relative;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.press-logo:hover {
  -webkit-filter: none;
  filter: none;
}

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

/* CTA */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 100px;
  color: #fff;
}

#cta h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.5;
}

#cta.downloadBtn {
  margin: 3% 1% 3% 0;
}

/* Footer */
#footer {
  text-align: center;
  padding: 100px;
}

.footer-icon {
  margin: 1%;
}

a.footer-icon {
  color: #424242;
}

a.footer-icon:hover {
  color: #ff4c68;
}

/* Media Queries */

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
  }

  button.navbar-toggler.collapsed {
    outline: none;
  }
}

@media (max-width: 600px) {
  #title h1 {
    text-align: center;
  }
}
